#home {
    overflow: hidden;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    .slider-home {
      width: 100%;
      height: 95vh;
      background: url("/img/img1.jpg") no-repeat center center/cover;
      position: relative;
      .opacity {
        position: absolute;
        height: 95vh;
        min-width: 100%;
        background: rgba($color: #000000, $alpha: 0.7);
      }
      .slider-1 {
        top: 0;
        left: 0;
        right:0;
        bottom:0;
        margin: auto;
        max-width: 1000px;
        height: 95vh;
        overflow: hidden;
        position: relative;
        .swiper-wrapper {
          display: flex;
          .swiper-slide {
            .container {
              height: 100%;
              width: 100%;
              color: #dadada;
              h3 {
                font-size: 1.5rem;
                font-weight: 450;
                letter-spacing: 1px;
              }
              h1 {
                margin: 0 0 1rem 0;
                font-size: 5rem;
                text-transform: uppercase;
                letter-spacing: 2px;
              }
              p {
                width: 70%;
                margin-top: 1.5rem;
                margin-bottom: 4rem;
              }
              .home-btns {
                .btn-primary {
                  margin-right: 0.6rem;
                }
                .btn-outline-primary {
                  margin-left: 0.6rem;
                }
              }
            }
          }
        }
      }

        .swiper-button-prev,
        .swiper-button-next {
          position: absolute;
          font-size: 2.2rem;
          color: rgba($color: #000000, $alpha: 0.6);
          background: #6a6a6a;
          padding: 0 0.4rem;
          border-radius: 4px;
          transition: all 0.3s;
          &:hover {
            background: #e74c3c;
            color: rgba($color: #fff, $alpha: 0.7);
          }
        }
        .swiper-button-prev{
          left: 5%;
        }
        .swiper-button-next {
          right: 5%;
        }
    }
  
    .cutEdges {
      position: relative;
      width: 100%;
  
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        border-bottom: 100px solid white;
        border-left: 50vw solid transparent;
        width: 0;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 100px solid white;
        border-right: 50vw solid transparent;
        width: 0;
      }
    }
  
    .anchorBtn {
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: -2rem;
      width: 50px;
      height: 50px;
      background: #fff;
      border-radius: 50%;
      border: 4px solid rgba($color: #333, $alpha: 0.2);
      animation: glowing 800ms infinite;
      transition: all 0.3s;
      z-index:1;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        height: 50px;
        background: url("/img/anchorIcon.png") no-repeat center center/cover;
        border-radius: 50%;
        transition: all 0.3s;
      }
      &:hover {
        background: #444;
      }
    }
  }