#team {
  background: url("/img/team-line.png") center no-repeat,
    url("/img/team-img.jpg") center bottom no-repeat;
  margin-top: 100px;
  padding: 45px 0 470px;
  .head-title-content {
    color: #fff;
    h1 {
      margin-top: 0;
    }
    .bar {
      margin-bottom: 0;
    }
  }
  .team {
    position: relative;
    min-width: 300px;
    max-width: 1200px;
    margin: 0 auto;
    .team-img1 {
      position: absolute;
      left: 0%;
      bottom: -226px;
      width: 65px;
      height: 65px;
      border: 2px solid #e74c3c;
      border-radius: 50%;
      background: url("/img/team1.jpg") no-repeat center center/cover;
    }
    .team-img2 {
      position: absolute;
      left: 25%;
      bottom: -175px;
      width: 65px;
      height: 65px;
      border: 2px solid #e74c3c;
      border-radius: 50%;
      background: url("/img/team2.jpg") no-repeat center center/cover;
    }
    .team-img3 {
      position: absolute;
      left: 50%;
      bottom: -174px;
      width: 65px;
      height: 65px;
      border: 2px solid #e74c3c;
      border-radius: 50%;
      background: url("/img/team3.jpg") no-repeat center center/cover;
    }
    .team-img4 {
      position: absolute;
      left: 75%;
      bottom: -208px;
      width: 65px;
      height: 65px;
      border: 2px solid #e74c3c;
      border-radius: 50%;
      background: url("/img/team4.jpg") no-repeat center center/cover;
    }
    .team-img5 {
      position: absolute;
      left: 100%;
      bottom: -128px;
      width: 65px;
      height: 65px;
      border: 3px solid #e74c3c;
      border-radius: 50%;
      background: url("/img/team5.jpg") no-repeat center center/cover;
    }
  }
}
